<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.instantappsample.character_details">

    <application>

        <activity android:name="com.example.android.instantappsample.character_details.CharacterDetailsActivity">
            <intent-filter
                android:autoVerify="true"
                android:order="1">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="potatoinc.com"
                    android:pathPattern="/character/.*"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="1">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="potatoinc.com"
                    android:pathPattern="/character/.*"
                    android:scheme="http" />

            </intent-filter>

        </activity>

    </application>

</manifest>