<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.instantappsample.character_list">

    <application>

        <activity
            android:name=".CharacterListActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="2">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="android.example.com"
                    android:pathPattern="/character"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="2">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="android.example.com"
                    android:pathPattern="/character"
                    android:scheme="http" />

            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://android.example.com/character" />

        </activity>

    </application>

</manifest>